.parent .col {
  padding: 0;
}

.row.header {
  border-bottom: 2px solid #2196F3;
  padding: 1em 0;
}

.row.content {
  padding: 1em 0;
}

.row.content .fullbutton {
  padding: 0;
}

.campaign {
  border: 1px solid #2196F3;
  padding: 1em 30px;
}